/* Layout */
body {
  /* height: 2000px; */
  min-width: 320px;
  font-family: 'Dosis', sans-serif;
  font-size: 18px;
  line-height: 28px;
  color: #5A6671;
}

.container {
  padding: 0 10%;
}

/* 50 righe */
#iphone-fixed {
  width: 80%;
  height: 700px;
  margin: 0 auto;
}

.iphone-fixed-text {
  position: absolute;
  top: 300px;
  left: 100px;
}

.iphone-fixed-img {
  position: absolute;
  top: 10px;
  right: 0;
}

.iphone-fixed-img img {
  max-height: 600px;
}

@media screen and (max-width: 780px) {
  .iphone-fixed-text {
    margin-bottom: 50px;
  }

  .iphone-fixed-text,
  .iphone-fixed-img {
    position: relative;
    top: 0;
    left: 0;
    transform: none;
    width: 100%;
    text-align: center;
  }

  #iphone-fixed {
    padding: 50px 0;
    height: auto;
  }
}

@media screen and (min-width: 780px) and (max-width: 1200px) {
  .iphone-fixed-text {
    position: absolute;
    top: 200px;
    left: 50px;
  }

  .iphone-fixed-img {
    position: absolute;
    top: 10px;
    right: 0;
  }
}

/* contro 22 righe */
#iphone {
  width: 80%;
  margin: 60px auto;
  padding: 50px 0;
}

#iphone img {
  max-height: 600px;
}

@media screen and (max-width: 780px) {
  #iphone .text-right {
    text-align: center;
  }

  #iphone .align-absolute {
    position: relative;
    top: 0;
    left: 0;
    transform: none;
    width: 100%;
    margin: 30px auto;
  }
}

/* Se cambiamo la grandezza del testo? */
/* .p-iphone {
  font-size: 40px;
  line-height: 60px;
} */

/* se fissiamo un'altezza e poi aggiungiamo testo che succede? */
#info {
  height: 50vh;
  /* height: 300px; */
}

#info .icon {
  font-size: 220%;
  line-height: 170%;
  color: #0081FF;
}

#iphone-live {
  width: 100%;
  height: 400px;
}

/* LIVE */
.iphone-background {
  background-image: url('../img/iphone.png');
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  position: relative;
}
